@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}


nav {
    height: 80px;
    display: flex;
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
    padding: 20px;
}

.nav__container {
    width: 95%;
    max-width: 1200px;
    /* padding: 0 24px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    width: 160px;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

.nav__link {
    text-decoration: none;
    margin-left: 16px;
    font-size: 20px;
    color: #7342d6;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px solid #7342d6;
    border-radius: 4px;
}

.nav__link--primary:hover {
    text-decoration: none;
}


.btn__menu {
    color: #7342d6;
    border: none;
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    padding-right: 10px;
    display: none;
}

.menu__backdrop {
    background-color: #242424;
    position: fixed;
    inset: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
    z-index: 1000;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    position: fixed;
}

.btn__menu--close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px;
    color: white;
}

.menu__links--mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.menu__link--mobile {
    font-size: 40px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 10px;
}

.menu__link--mobile:hover {
    text-decoration: underline;
    border: none;
    color: Black;
    background-color: white;
}


/* LANDING ... */

#landing {
    background-color: rgb(115, 66, 214, 0.1);
}

header {
    height: calc(100vh - 80px);
}

.purple {
    color: #7342d6;
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 56px;
    color: #7342d6;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    text-align: center;
    font-style: 32px;
    margin-bottom: 32px;
    text-align: center;
}

button {
    cursor: pointer;
    transition: all 50ms ease-in-out;
}

button:active {
    transform: translateY(1px);
}

.btn {
    background-color: #7342d6;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}

.header__img--wrapper {
    padding: 20px;
    z-index: 50;
}

.container {
    padding: 56px 0;
}

.row {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* HIGHLIGHTS SECTION STYLES */

#highlights {
    /* background-color: rosybrown; */
    position: relative;
    max-width: 100vw;
}

#highlights::before, #highlights::after {
    content: "";
    background: url("./assets/wave.svg");
    position: absolute;
    width: 100vw;
    height: 12vw;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

#highlights:before {
    top: 1px;
    transform: translateY(-100%);
}

#highlights:after {
    bottom: 1px;
    transform: translateY(100%) rotate(180deg);
    /* background-color: #7342d6; */
}

.highlight__wrapper {
    display: flex;

}

.highlight {
    padding: 0 24px;
    width: calc(100% / 3);
}

.highlight__para {
    max-width: 280px;
    line-height: 1.5;
}

.highlight__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.highlight__img>i {
    font-size: 34px;
    color: #7342d6;
    margin-bottom: 16px;
    border: 2px solid #7342d65d;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight__subtitle {
    font-size: 20px;
    margin-bottom: 16px;
}


/* 

FEATURES SECTION STYLES

*/

#features {
    background-color: rgb(115, 66, 214, 0.1);
    height: 1000px;
    padding-top: 8vw;
}

.books {
    display: flex;
    flex-wrap: wrap;
}

.book {
    width: 25%;
    padding: 24px;
    text-align: center;
}

.book__img {
    padding: 0;
    width: 100%;
    max-height: 380px;
    transition: all 300ms ease;
    cursor: no-drop;
}

.book__img--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    max-height: 380px;
    overflow: hidden;
}

.book__img:hover {
    transform: scale(1.13);
}

.book__title {
    font-size: 20px;
    margin-bottom: 8px;
    transition: all 300ms ease;
}

.book__title:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.book__ratings {
    margin-bottom: 8px;
    color: #fabf2a;
}

.book__price--normal {
    text-decoration: line-through;
    padding-right: 6px;
    color: #bfbfbf;
}

/* EXPLORE ... */


#explore {
    background-color: rgb(115, 66, 214, 0.1);
}

#explore>header {
    height: 220px;
}


/* FOOTER ...  */

footer {
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logo--img {
    width: 160px;
    filter: grayscale(1) invert(1);
}

.footer__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__link {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.no__cursor {
    cursor: not-allowed;
}

.footer__copyright {
    margin-top: 24px;
    color: white;
    text-align: center;
}





/* small phone, tablets, large phones ... */

/* tablets ... */
@media (max-width: 768px) {
    .header__description {
        padding: 0 24px;
    }
    
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 26px;
    }
    
    button {
        font-size: 18px;
    }
    
    .book {
        width: 50%;
    }
}

/* small phone & large phones ... */
@media (max-width: 550px) {
    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }
    
    .highlight__wrapper {
        flex-wrap: wrap;
        gap: 24px;
    }
    
    .highlight {
        width: 100%;
    }
}

